
#contentcontainer{
  background-color:#D5D2C8;
  font-family: 'IM Fell English',serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding:5%;
}

#itemimagecontainer{
  margin-bottom:3%;
}

#itemimage{
  margin-top:2%;
}

#contentcontainer p{
 margin:1%; 
}

#itemsection{
  width:70%;
  text-align:center;
}

#itemdesc{
  font-style:italic;
}

