#blogdivcontainer {
  font-size: .8em;
  font-family: 'IM Fell English',serif;
  background-color: #D5D2C8;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
}

a {
  text-decoration: none;
  color: #8c3a2e;
}